<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color:red;
        }
        .container{
            position: absolute;
            left: 38%;
            line-height: 40px;
        }
    </style>
</head>
<body>
    <div class="container">
    <h1>Student Registration form</h1>
<form action="/result" method="POST">
        <table>
            <tr>
                <td><label for="name">Name:</label></td>
                <td><input type="text" id="name" name="Name" placeholder="enter your name"></td>
            </tr>
            <tr>
                <td><label for="age">Age:</label></td>
                <td><input type="text" id="Age" name= "Age"placeholder="enter your Age"></td>
            </tr>
            <tr>
                <td><label for="dep">depratment:</label></td>
                <td><input type="text" id="depratment" name ="depratment" placeholder="enter your depratment"></td>
            </tr>
            <tr>
                <td><input type="submit" value="submit"></td>
            </tr>
        </table>   
    </form>
        
</body>
</html>